[Desktop Entry]
Name=OpenGothic
Exec=Gothic2Notr
Type=Application
Icon=icon
StartupWMClass=
Categories=Game;Third-person;RPG;
Comment="Reimplementation of Gothic 1 & 2 Notr"
